<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ivf_project">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:label="ivf_project"
        android:name="${applicationName}">
        <!-- 카카오 로그인 커스텀 URL 스킴 설정 -->
        <activity
            android:name="com.kakao.sdk.flutter.AuthCodeCustomTabsActivity"
            android:exported="true">
            <intent-filter android:label="flutter_web_auth">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- "kakao${YOUR_NATIVE_APP_KEY}://oauth" 형식의 앱 실행 스킴 설정 -->
                <!-- 카카오 로그인 Redirect URI -->
                <data android:scheme="kakao9676b91eacc98215fd88dd534e40badc" android:host="oauth"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
